<loading [show]='loading'></loading>

<div class="container">
    <h1>Lista de Usuários</h1>    

    <div class="form-group form-inline">
        <label for="filter">Pesquisar</label>
        <input class="form-control ml-2" type="text" name="filter" id="filter" (keyup)="newFilterBy($event)" />  
    </div>

    <table class="table table-responsible table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">E-mail</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a routerLink="/user/{{user.id}}"><fa-icon [icon]="faEdit"></fa-icon></a>
                </td>
                <td>
                    <a href="javascript:void(0)" (click)="onDelete(user.id);"><fa-icon [icon]="faTimes"></fa-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>