<div>

    <div class="form-group form-inline">
        <input class="form-control ml-2" type="text" name="filter" id="filter" (keyup)="newFilterBy($event)" />  
    </div>

    <table class="table table-responsible table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">E-mail</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | order: sortBy | filter: filterBy">
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a routerLink="/user/{{user.id}}"><fa-icon [icon]="faEdit"></fa-icon></a>
                </td>
                <td>
                    <fa-icon [icon]="faTimes"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>