<div class="container">
    <h1>Bem-vindo a gestão de usuários</h1>

    <div>
    
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" name="email" formControlName="email" placeholder="E-mail" />
                    <span *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
                        Informe o e-mail para login
                    </span>
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Senha" />
                    <span *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                        O campo Senha é obrigatório
                    </span>
                </div>
            </div>
            
            <div class="row">
        
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                        Entrar
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success" (click)="onClickNewUser()">
                        Novo Usuário
                    </button>
                </div>
        
            </div>
            
        </form>
    
    </div>
</div>


    