<div>
    <h1>Bem-vindo a gestão de usuários</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-control">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="E-mail" />
        </div>

        <div class="form-control">
            <label for="password">Senha</label>
            <input type="password" class="form-control" name="password" formControlName="password" placeholder="Senha" />
        </div>

        <div class="form-control form-check">
            <input type="checkbox" class="form-check-input" name="remember" formControlName="remember" />
            <label for="remember">Continuar conectado</label>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
            Entrar
        </button>
    </form>
</div>